html,
body {
    background: #313131;
    color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column;

}

::-webkit-scrollbar {
    display: none;
}

a {
    color: inherit;
}

.show_hint {
    transition: 1s;
    opacity: 0.5 !important;
}

ul {
    margin: 0;
}

.home_body {
    /* height: 100%; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-flow: row;

}

.posts_wrap {
    position: relative;
    max-width: 75%;
    min-width: 50%;
    margin: auto;
    padding: 0px 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;

}

.content-section {
    background: #313131;
    width: 75%;
    margin: auto;
    padding: 10px 20px;
    background-color: #0994FA;
    border-radius: 3px;
    margin-bottom: 20px;
    opacity: 0.5;
    transition: 0.3s;
    
}

.content-section:hover {
    opacity: 1;
}


.article-title {
    color: #000;
}

a.article-title:hover {
    text-decoration: none;
}

.post_title {
    text-align: center;
    margin: 0;
}
.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;

}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

/* ---Login page--- */

.header_contents__login {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 20PX;
    margin: 0;

    border: 1px solid red;

  
}

.title_wrap {
    display: flex;
    flex-flow: column;
    min-width: 85%;
}

.title_link {
    font-weight: 300;
}

.nav_links_wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;

}

.nav_links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 300;
    width: 220px;
    height: 35px;
    background-color: #fff;
    color: #000;

}

.signin_wrap {
    position: absolute;
    min-width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    /* Fades in on window load */
    opacity: 0;


}

.sign_in_form {
    width: 100%;
    padding: 20px;

}


.blog_title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;

}

.blurb {
    text-align: center;
    color: #ffffff93;
    font-weight: 300;
    margin: 5px 0px;
}


.btn_wrap {
    height: 160px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;


}

.sign_in_btns {
    height: 50px;
    min-width: 290px;
    border: none;
    transition: 0.3s;
    cursor: pointer;

}

.sign_in_btns:hover,
#writer_enter_btn:hover,
.register_signup_btn:hover {
    transform: scale(1.1);
}

.sign_in_btns:active,
#writer_enter_btn:active,
.register_signup_btn:active {
    transform: scale(0.9);
    background-color: #B00000;
    color: #fff;
    border: none;
}

.signin_btn,
.register_btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 300;

}

.signin_btn {
    background-color: #fff;
    color: #000;
}

.register_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#div_id_password {
    margin: 0;
}

#id_username,
#id_password {
    color: #fff;
}

.forgotpw_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.3;
    transition: 0.3s;

}

.forgotpw_wrap:hover {
    opacity: 1;
}


input[type=text]:not(.browser-default) {
    background: transparent;
}

input[type="text"]:not(.browser-default):focus([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]) {
    box-shadow: none;
    border-bottom: 1px solid #0994FA;
}



/* input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default) {
    border-bottom: 1px solid #B00000;
} */

.nonfield-errors {
    width: 100%;
    margin: 0;
    text-align: center;
    transition: 0.3s;
    color: #B00000;
    align-self: center;


}

.alert-success {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: #131313;
    background-color: #D3FBD8;
    padding: 15px;
    cursor: pointer;
}

/* ---Register Page--- */


.register_txt {
    font-size: 30px;
    /* font-weight: 300; */
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;


}


.form_wrap {
    height: 83%;
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;


}

.register_form {
    min-width: 30%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;


}

.form-group {
    border: none;
    min-width: 100%;
}

.hint {
    color: #D3FBD8 !important;
    font-weight: 300;

}

#hint_id_username,
#hint_id_password1,
#hint_id_password2 {
    opacity: 0;
}


.emailinput,
#id_password1,
#id_password2 {
    color: #fff;
}

.register_signup_btn {
    width: 290px;
    height: 50px;
    margin: auto;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
    cursor: pointer;

}

.already_have_account_text {
    font-size: 15px;
    /* background-color: #D3FBD8;
    padding: 5px 20px; */
    opacity: 0.3;
    transition: 0.3s;
    margin-top: 20px;
}

.already_have_account_text:hover {
    opacity: 1;
    transform: scale(1.1);
}

.signin_link {
    font-weight: 300;
    cursor: pointer;
}

/* ---Post Page--- */

.header_contents__home {
    border: 1px solid red;
}