body {
    background: #313131;
    color: #fff;
    display: flex;
    flex-flow: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.header_contents {


    
}



.content-section {
    background: #313131;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

/* ---Login page--- */

.signin_wrap {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    align-items: center;

    
}


.blog_title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;

}

.blurb {
    text-align: center;
    color: #ffffff93;
    font-weight: 300;
}

.btn_wrap {
    height: 160px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

    
}

.sign_in_btns {
    height: 50px;
    min-width: 290px;
    border: none;
    transition: 0.3s;
    cursor: pointer;

}

.signin_btn,
.register_btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Inter', sans-serif;

}

.register_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text]:not(.browser-default) {
    background: transparent;
}