{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- <header class="header_contents__login">
    {% if user.is_authenticated %}
    <a class="title_link" href="{% url 'blog-home' %}">archives.blog</a>
    {% else %}
    <a class="title_link" href="#">archives.blog</a>
    {% endif %}

    <div class="nav_links_wrap">
        {% if user.is_authenticated %}
        <a class="nav_links" href="{% url 'post-create' %}">New Post</a>
        <a class="nav_links" href="{% url 'profile' %}">Profile</a>
        <a class="nav_links" href="{% url 'logout' %}">Logout</a>
        <a class="nav_links" href="{% url 'blog-home' %}">Home</a>
        <a class="nav_links" href="{% url 'blog-about' %}">About</a>
        {% else %}
        <a class="nav_links" href="{% url 'login' %}">Login</a>
        <a class="nav_links" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>

</header> -->

<div class="signin_wrap">
    <div class="title_wrap">
        <legend class="blog_title">archives.blog</legend>
        <p class="blurb">A True History Data Warehouse</p>
    </div>

    <form class="sign_in_form" method="POST">
        {% csrf_token %}

        <div class="password_signin_input_wrap form-group">
            {{ form|crispy }}
        </div>
        <div class="forgotpw_wrap">
            <a href="{% url 'password_reset' %}" class="forgot_pw_link">
                Forgotten your password?
            </a>
            <i style="color: #A63B00;" class="material-icons forgot_pw_icon">lock</i>
        </div>
        <div class="btn_wrap">
            <button class="signin_btn sign_in_btns" type="submit">Log In</button>
            <a class="register_btn sign_in_btns" href="{% url 'register' %}">Register</a>

        </div>

    </form>
</div>


{% endblock content %}